.section
  %img.homepage-image.absolute(src="https://unsplash.imgix.net/photo-1417962798089-0c93ceaed88a?q=75&fm=jpg&s=2da8b1d69ce267ad866bf4d6477d1ae7")
.section
  .row.push-down
    .small-12.columns.homepage-title
      %h1.centered.white
        .thick-title
          TryPaper.com Document Uploader
        .thin-title
          Mail PDF Files to Physical Addresses
      %hr.white
      .small-10.small-centered.columns
        %form
          %fieldset
            %legend TryPaper.com Document Uploader
            .small-12.large-6.columns
              %label.white TryPaper Production API Key
              %input.radius{:placeholder => "EXAMPLE5555API42342KEY", :type => "text", :name => "api_key"}
            .small-12.large-6.columns
              %label.white TryPaper Return Address ID
              %input.radius{:placeholder => "555_main_street_HQ", :type => "text", :name => "return_address_id"}
            %hr.white
            .small-12.columns
              %label.white Recipient Name
              %input.radius{:placeholder => "John Doe IV", :type => "text", :name => "name"}
            .small-12.large-6.columns
              %label.white Address
              %input.radius{:placeholder => "555 Main Street", :type => "text", :name => "address1"}
            .small-12.large-6.columns
              %label.white Address Cont'd
              %input.radius{:placeholder => "Apt 1 (optional)", :type => "text", :name => "address2"}
            .small-12.large-5.columns
              %label.white City
              %input.radius{:placeholder => "Cityville", :type => "text", :name => "city"}
            .small-6.large-4.columns
              %label.white State
              %input.radius{:placeholder => "WI (2-letter abbreviation)", :type => "text", :name => "state"}
            .small-6.large-3.columns
              %label.white Zipcode
              %input.radius{:placeholder => "55555", :type => "text", :name => "zipcode"}

      %hr.white
        %p.white.centered
          Powered by
          %a.orange{:href => "http://trypaper.com", :target => "_blank" } TryPaper.com
          |
          Built by
          %a.orange{:href => "http://pmichaeljones.herokuapp.com", :target => "_blank" } Patrick Jones
          \|
          Credit to
          %a.orange{:href => "http://unsplash.com", :target => "_blank" } UnSplash
          for the Great Background Picture!
