label {
  font-size: 18px;
  font-weight: 200;
}

.orange-button {
  background-color: orange;
}

.push-down-button {
  margin-top: 19px;
}

.absolute {
  position: absolute;
}

.homepage-image{
  opacity: .6;
}

.homepage-title {
  background: rgba(0,0,0,.8);
  padding: 25px 10px;
}

.homepage-bullet {
  font-size: 24px;
  font-weight: 200;
}

.info-bullet {
  font-size: 16px;
  font-weight: 200;
}

.thick-title {
  font-weight: bold;
  display: inline-block;
}

.thin-title {
  font-weight: 100;
  display: inline-block;
}

.tiny {
  font-size: 12px;
}

.sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.35em;
  left: -0.35em;
  margin-right: -5px;
}

a:hover {
  color: red;
}

.pull-left {
  text-align: left;
}

.push-down {
  padding-top: 10%;
}

.centered {
  text-align: center;
}

/*COLORS*/


.white {
  color: white;
}

.orange {
  color: orange;
}